ejercicio23/src/main/app/ejercicio23.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" basePath="/ejercicio23" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" basePath="/ejercicio22" doc:name="HTTP Request Configuration"/>
    <flow name="ejercicio23Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ejercicio" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.['cadena']]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <cxf:simple-client operation="encriptar" serviceClass="ejercicio21.IEncriptarPortType" wsdlLocation="http://localhost:8081/ejercicio22/ejemplo?wsdl" doc:name="CXF"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/ejemplo" method="POST" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="La cadena encriptada es: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
